@font-face {
    font-family: 'gameboy';
    src: url(assets/Early\ GameBoy.ttf);
}

@font-face {
    font-family: 'superMario';
    src: url(assets/SuperMarioBros2.ttf);
}

@font-face {
    font-family: eightbit;
    src: url(assets/8-bitArcadeIn.ttf);
}

* {
    color: rgb(37, 36, 35);
    font-family: gameboy;
}


body {
    background-color: rgb(235, 231, 228);
}

h1 {
    font-family: eightbit;
    margin: auto;
    text-align: center;
    border: double 5px rgb(37, 36, 35);
    font-size: 100px;
}