:root {
  --GBBbody: rgb(141, 141, 141);
  --GBBscreen: rgb(156, 155, 102);
  --GBBborder: rgb(83, 72, 90);
  --GBBscreenShadow: rgb(70, 67, 34);
--GBBborderShadow: rgb(54, 54, 54);;
--GBBfilter: ;

  --GBCbody: rgb(196, 135, 2);
  --GBCscreen: rgb(189, 194, 185);
  --GBCborder: rgb(24, 24, 24);
  --GBCscreenShadow: rgb(14, 14, 14);
  --GBCborderShadow: rgb(136, 93, 1);
}

@font-face {
  font-family: "gameboy";
  src: url(assets/Early\ GameBoy.ttf);
}

@font-face {
  font-family: "superMario";
  src: url(assets/SuperMarioBros2.ttf);
}

@font-face {
  font-family: "eightbit";
  src: url(assets/8-bitArcadeIn.ttf);
}

* {
  font-family: gameboy;
  filter: blur(0.45px) ;
  scroll-behavior: smooth;
}

html.brick {
  color: rgb(55, 61, 38);
}

html {
  color: rgb(104, 107, 96);
  scroll-behavior: smooth;
}

::placeholder {
  color: rgb(215, 221, 203);
}



body {
  background-color: rgb(196, 135, 2);
}

body.brick {
  background-color: var(--GBBbody);
}

body.color {
  background-color: var(--GBCbody);
}

h1 {
  font-family: eightbit;
  margin: auto;
  text-align: center;
  border: double 5px rgb(37, 37, 35);
  font-size: 100px;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

#gameboyBody.brick {
  background-color: var(--GBBborder);
  border: solid 3px var(--GBBborderShadow);
}

#gameboyBody.color {
  background-color: var(--GBCborder);
  border: solid 3px var(--GBCborderShadow);
}

#gameboyBody {
  background-color: rgb(24, 24, 24);
  border-radius: 30px;
  padding: 20px 0;
  border: solid 3px rgb(136, 93, 1);
  filter: blur(0.8px);
}

#gameboyColorLogo {
  margin: -300px auto -200px;
  display: block;
}

#redDot {
  height: 60px;
  position: absolute;
  top: 320px;
  left: 30px;
}

#screenFilter.brick {
  width: 200px;
  width: 200px;
  background-color: green;
  /* z-index: 10; */
  /* display: none; */
  filter: blur(0.5);
}

#gameboyScreen {
  position: relative;
  background-color: rgb(189, 194, 185);
  max-width: 1550px;
  min-height: 950px;
  margin: 100px auto;
  border-radius: 5px;
  border: 5px rgb(14, 14, 14) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 0;
}

#gameboyScreen.brick {
  background-color: var(--GBBscreen);
  border: 7px solid var(--GBBscreenShadow);
}

#gameboyScreen.color {
  background-color: var(--GBCscreen);
  border: 5px solid var(--GBCscreenShadow);
}
.pokeListBox {
  /* margin: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}



.pokeName {
  grid-area: pokeName;
  margin: 20px 0 0 0;
  font-size: 20px;
}

.pokePortrait {
  align-self: center;
  justify-self: center;
  width: 95%;
  height: 95%;
  /* object-fit: cover; */
  grid-area: pokePortrait;
  filter: grayscale(70%);
  opacity: 80%;
}

.idTypeFlexbox {
  display: flex;
  justify-content: space-between;
  grid-area: flexBox;
  margin: 0 15px;
  position: relative;
}

.pokeCardFront {
  width: 250px;
  height: 350px;
  display: grid;
  grid-template-areas:
    "pokeName"
    "pokePortrait"
    "flexBox";
  border: 8px double rgb(104, 107, 96);
}

.pokeAssPortrait {
  align-self: center;
  justify-self: center;
  width: 95%;
  height: 95%;
  /* object-fit: cover; */
  grid-area: pokeAssPortrait;
  filter: grayscale(70%);
  opacity: 80%;
}

.pokeCardBack {
  width: 250px;
  height: 350px;
  display: none;
  grid-template-areas:
    "backArrow"
    "pokeAssPortrait"
    "pokeHeight"
    "pokeWeight";
  border: 8px double rgb(104, 107, 96);
}

.backArrow {
  grid-area: backArrow;
  justify-self: center;
}

.pokeHeight,
.pokeWeight {
  text-align: center;
  position: relative;
}

.pokeHeight {
  grid-area: pokeHeight;
  top: -20px;
}

.pokeWeight {
  grid-area: pokeWeight;
  top: -50px;
}

.pokeInput.brick {
  color: rgb(92, 102, 64);
}

.pokeInput {
  color: rgb(131, 134, 129);
}

#changeNumberBox {
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
}

#pokeInputFlexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px 0 -30px 0;
}

#randomSearchInput {
  margin-left: 3px;
  color: rgb(35, 36, 32);
}

#luckyButton:hover {
  text-shadow: 0 0 2px rgb(52, 53, 48);
  cursor: pointer;
}

#luckyButton {
  margin: 0 15px;
}

.arrows.brick {
  filter: contrast(200%) hue-rotate(10deg);
}

.arrows {
  cursor: pointer;
}

#swapCardsButton {
  display: none;
}

#swapCardsButton:hover {
  cursor: pointer;
}

.pokeSimpleCard.brick {
  filter: sepia(1) blur(0.3px) contrast(80%);
}

.pokeSimpleCard.color {

}

.pokeSimpleCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0px;
  /* height: 200px; */
  width: 250px;
  cursor: pointer;
}

.pokename2.brick {
  color: rgb(37, 46, 18);
}

.pokeName2 {
  font-size: 20px;
}

#pokeSearchBar {
  margin-top: 100px;
}

.pokeStatsCard.brick {
  filter: sepia(1) blur(0.3px) contrast(80%);
}

.pokeStatsCard.color {

}

.pokeStatsCard {
  display: none;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  height: 600px;
  width: 1000px;
  border: 8px double rgb(104, 107, 96);
  padding: 20px;
}

.pokePortraitsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.pokePortraitStats {
  align-self: center;
  justify-self: center;

  width: 300px;
  height: auto;
  /* object-fit: cover; */
  filter: grayscale(70%);
  opacity: 80%;
}

.pokeStatsBox {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.statsTitles.brick {
  color: rgb(55, 61, 38);
}

.statsTitles {
  font-size: 24px;
  color: rgb(104, 107, 96);
}

.bolderText {
  color: rgb(76, 77, 70);
}

#returnButton {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  text-decoration: none;
}

#returnButton:hover {
  text-shadow: 0 0 2px rgb(52, 53, 48);
}

#radioButtonBox {
  display: flex;
  position: absolute;
  left: 20px;
  top: 20px;
}
