@font-face {
  font-family: "gameboy";
  src: url(assets/Early\ GameBoy.ttf);
}

@font-face {
  font-family: "superMario";
  src: url(assets/SuperMarioBros2.ttf);
}

@font-face {
  font-family: "eightbit";
  src: url(assets/8-bitArcadeIn.ttf);
}

* {
  color: rgb(104, 107, 96);
  font-family: gameboy;
  filter: blur(0.4px);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(196, 135, 2);
}

h1 {
  font-family: eightbit;
  margin: auto;
  text-align: center;
  border: double 5px rgb(37, 37, 35);
  font-size: 100px;
}

h2 {
  text-align: center;
}

#gameboyBody {
  background-color: rgb(24, 24, 24);
  border-radius: 30px;
  padding: 20px 0;
  border: solid 3px rgb(136, 93, 1);
  filter: blur(0.8px);
}

#gameboyColorLogo {
  margin: -300px auto -200px;
  display: block;
}

#redDot {
  height: 60px;
  position: absolute;
  top: 320px;
  left: 30px;
}

#gameboyScreen {
  background-color: rgb(189, 194, 185);
  max-width: 1550px;
  min-height: 750px;
  margin: 100px auto;
  border-radius: 5px;
  border: 5px rgb(14, 14, 14) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
.pokeListBox {
  /* margin: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.pokeName {
  grid-area: pokeName;
  margin: 20px 0 0 0;
  font-size: 20px;
}

.pokePortrait {
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  grid-area: pokePortrait;
  filter: grayscale(70%);
  opacity: 80%;
}

.idTypeFlexbox {
  display: flex;
  justify-content: space-between;
  grid-area: flexBox;
  margin: 0 15px;
}

.pokeCardFront {
  width: 250px;
  display: grid;
  grid-template-areas:
    "pokeName"
    "pokePortrait"
    "flexBox";
  border: 8px double rgb(104, 107, 96);
}

.pokeAssPortrait {
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  grid-area: pokeAssPortrait;
  filter: grayscale(70%);
  opacity: 80%;
}

.backArrow {
  grid-area: backArrow;
  justify-self: center;
}

.pokeCardBack {
  width: 250px;
  display: none;
  grid-template-areas:
    "backArrow"
    "pokeAssPortrait"
    "pokePortrait"
    "flexBox";
  border: 8px double rgb(104, 107, 96);
}

.pokeHeight,
.pokeWeight {
  text-align: center;
}

.pokeInput {
  color: rgb(131, 134, 129);
}

#changeNumberBox {
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
}

#pokeInputFlexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

#randomSearchInput {
  margin-left: 3px;
  color: rgb(35, 36, 32);
}

#luckyButton:hover {
  color: rgb(29, 143, 0);
  cursor: pointer;
}

#luckyButton {
  margin: 0 15px;
}

.arrows {
  cursor: pointer;
}

#swapCardsButton {
  display: none;
}

#swapCardsButton:hover {
  cursor: pointer;
}
